
p {
  color: #222;
}

.landingTitle {
  display: inline-block;
  padding: 5%;
  width: 100%
}

.landingTitle p {
  width: 70%;
  margin: 0%;
}

.landingTitle div p {
  width: 70%;
  margin: 0%;
}

.fa-reddit-alien {
  display: inline;
  color: #65d2b3;
  float: right;
  vertical-align: middle;
  font-size: 5em;
  line-height: inherit;
}

#subtitle {
  font-style: italic;
  line-height: 1.5em;
}

.subreddit-search {
  text-align: center;
  margin: 2% 5% 5% 5%;
}

.subreddit-search div input {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.directions {
  margin: 5% 5% 1% 5%;
}

.directions p {
  line-height: 2em;
}

.emphasis {
  color: #65d2b3;
}
