* {
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

.clearfix {
  float: none;
}

header nav ul {
  height: 3%;
}

header nav ul li {
  list-style: none;
  font-size: 1.5em;
}

header nav ul li a {
  text-decoration: none;
}

.navbar li:hover {
  background-color: #65d2b3;
  color: white;
}
