
.subreddit-lists p {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.subredditNameLi {
  padding: 2%;
  text-align: center;
  float: left;
  display: inline-block;
  border: thin solid black;
  border-radius: 25px;
  margin: 2% 2% 2% 2%;
  min-width: 60%;
  max-width: 90%;
  min-height: 5%;
  max-height: 10%;

}

.subredditNameLi a {
  text-decoration: none;
  color: black;
}

.subredditNameLi:hover {
  background: #65d2b3;
}

.subredditNameLi p:hover, a:hover {
  color: white;
}
